/* nav color */
header .navbar-custom{ 
    background-color: rgba(20, 20, 20, 0.884)
}

/* dropdown mobile menu */
.navbar-collapse a, .navbar-collapse a i{ 
    text-align: center;
    float: center;
}
@media screen and (max-width: 600px) {
    .nav-item{
        margin-bottom: 43px;
    }
    .navbar-collapse a, a i{
        font-size: 2.5em;
    }
    .signIn-button{
        font-size: 2.5em;
        padding: 1.5vh;
    }
    .github{
        margin-top: 5vh;
    }
}