<section class="h-100 h-custom" *ngIf="project">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="../../../../assets/edit-project.jpg"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Edit Project</h3>
  
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
  
                <div class="form-group form-outline mb-4">
                    <label for="titulo">Title</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="project.titulo" required>
                </div>
                <div class="form-group form-outline mb-4">
                    <label for="descripcion">Description</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="project.descripcion" required>
                </div>
                <div class="form-group form-outline mb-4">
                    <label for="url_imagen">image URL</label>
                    <input type="text" class="form-control" id="url_imagen" name="url_imagen" [(ngModel)]="project.url_imagen" required>
                </div>
                <div class="form-group form-outline mb-4">
                    <label for="url_proyecto">Project URL</label>
                    <input type="text" class="form-control" id="url_proyecto" name="url_proyecto" [(ngModel)]="project.url_proyecto" required>
                </div>
                <button class="btn btn-primary">
                    Save changes
                </button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>