<div class="container" id="about">
    <div class="row">
        <div class="col-md-5 ">
            <img class="img-fluid" src="../../../assets/profile2.jpg" alt="">
        </div>
        <div class="col-md-7 about-text">
            <a href="about"><h2>Valentina Fiumana</h2></a>
            <span>(but everyone calls me Valen)</span>
            <p>I am a FullStack developer who is passionate about building digital experiences that nurture community, inclusivity, and knowledge.  
            </p>
            <p> Whether the internet or the outdoors, I love exploring, and I apply this open mindset to my creative projects. Other than coding, I spend most of my free time doing exercise, cooking or reading.  </p>
        </div>
    </div>
</div>