<div id="resume" class="resume mt-5">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title text-warning">Education</h3>
                <div class="resume-item d-flex">
                    <img src="../../../assets/resume/dh.png" class="mt-2 me-5" alt="">
                    <div class="resume-text">
                        <span>Feb 2022</span>
                        <h4>Certified Tech Developer</h4>
                        <p>ius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>
                </div>
                <div class="resume-item d-flex mt-4">
                    <img src="../../../assets/resume/ap.png" class="me-5 mt-2" alt="">
                    <div class="resume-text ms-3">
                        <span>Mar 2022</span>
                        <h4>Fullstack developer</h4>
                        <p>e vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>
                </div>
                <div class="resume-item d-flex mt-4">
                    <img src="../../../assets/resume/unsam.png" class="me-5" alt="">
                    <div class="resume-text ms-3">
                        <span>Feb 2020</span>
                        <h4>ingeniería electrónica</h4>
                        <p>e vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>
                </div>
                <div class="resume-item d-flex mt-4">
                    <img src="../../../assets/resume/unsam.png" class="me-5 mt-2" alt="">
                    <div class="resume-text ms-3">
                        <span>Feb 2020</span>
                        <h4>ingeniería biomédica</h4>
                        <p>e vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title text-warning">Certificates</h3>
                <div class="resume-item d-flex mt-4 ">
                    <img src="../../../assets/resume/camb.png" class="cambridge me-5 mt-2" alt="">
                    <div class="resume-text ms-3">
                        <h4>CEFR C1 - FIRST CERTIFICATE OF ENGLISH</h4>
                        <p>e vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>
                </div>
                <h3 class="resume-title text-warning mt-5">Work experience</h3>
                <div class="resume-item d-flex mt-4 ">
                    <img src="../../../assets/resume/ig.png" class="social me-5 mt-2 ms-3" alt="">
                    <div class="resume-text ms-3">
                        <span>Mar 2021</span>
                        <h4>CONTENT CREATOR</h4>
                        <p>e vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>
                </div>
                <div class="resume-item d-flex mt-4 ">
                    <img src="../../../assets/resume/tiktok.png" class="social me-4 mt-2 ms-3" alt="">
                    <div class="resume-text ms-5">
                        <span>Mar 2021</span>
                        <h4>CONTENT CREATOR</h4>
                        <p>e vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                    </div>
                </div>
            </div>
    </div>
</div>
