<div class="skills">
    <div class="mt-5">
        <div>
            <h3 class="text-warning ms-5">My Skills</h3>
            <button type="button" class="btn btn-outline-warning btn-sm ms-4 mb-2" routerLink="/newskill" *ngIf="isLogged">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <div class="row skills-content ms-4 mt-4">
            <div class="col-sm-2" *ngFor="let Skill of skills">
                <circle-progress
                    [percent]=(Skill.porcentaje)
                    [title]=(Skill.nombre)>
                </circle-progress>
                <div class="ms-4">
                    <button type="button" class="btn btn-tertiary text-white" routerLink="/editskill/{{Skill.id}}" *ngIf="isLogged"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-tertiary text-white" (click)="delete(Skill.id)" *ngIf="isLogged"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
    
</div>