<div class="row mt-5" id="project">
    <div class="col-md-5 mt-4">
        <div class="project-text mt-5">
            <p class="subtitle text-start">Featured Project</p>
            <h3 class="text-start">Project 2</h3>
            <p class="description">obcaecati corrupti nobis tempora, aliquid iusto mollitia <span> hola to bien </span>quae necessitatibus explicabo rem neque <span>repellendus</span>.</p>
            <div class="tools text-start">
                <span>VS Code</span>
                <span class="me-4 ms-4">Atom</span>
                <span>JavaScript</span>
            </div>
        </div>
    </div>
    <div class="col-md-7 mt-5">
        <a href="#">
            <img src="../../../../assets/projects/project.PNG" alt="">
        </a>
    </div>
</div>