<div id="skills" class="skills section-bg">
    <div class="container" data-aos="fade-up">
        <h4>My skills</h4>
        <div class="row skills-content">
            <div class="col-sm-4">
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
            </div>
            <div class="col-sm-4">
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
            </div>
            <div class="col-sm-4">
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
                <circle-progress
                    [percent]="85"
                    [title]="'HTML'"></circle-progress>
            </div>
        </div>
    </div>
</div>