#hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../../assets/banner.jpg");
    /* Set a specific height */
    height: 100vh;
    max-width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



/* typing effect text*/
.typing-demo {
    width: 20.5ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
    border-color: transparent
    }
}
